//CONTAINER
$widthContainer: 1200px;
$paddingContainer: 15px;
$allWidthContainer: $widthContainer + $paddingContainer * 2;

//FONT_FAMILY
$font-family: "Merriweather", serif;

//COLORS

$gray-blue: #909faa;
$dark: #2a2625;
$dark-shadow: #211e1d;
$dark-light: #545150;
$beige: #bfa390;
$gray: #76859e;
$brown: #794f3b;

$brown-selected: #86604e;
$beige-selected: #988273;
$gray-selected: #5e6a7e;
$gray-light: #a6b2bb;
