.burger {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  z-index: 100;

  @media (min-width: 604px) {
    display: none;
  }

  &:hover,
  &:focus {
    path {
      transition: all 0.4s ease 0s;
      fill: $gray-light;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    path {
      fill: $dark;
    }
  }
}
